<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <header class="container mt-3" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4" th:href="@{/course}">Тета Курсы</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

        <ul class="navbar-nav col-10">
          <li class="nav-item" th:classappend="${activePage == 'courses'} ? active">
            <a class="nav-link" th:href="@{/course}">Курсы</a>
          </li>
          <li class="nav-item" th:classappend="${activePage == 'users'} ? active">
            <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/admin/user">Пользователи</a>
            <a sec:authorize="hasRole('STUDENT')" class="nav-link" href="/user">Пользователь</a>
          </li>
          <li class="nav-item" th:classappend="${activePage == 'contacts'} ? active">
            <a class="nav-link" href="#">Контакты</a>
          </li>
          <li class="nav-item" th:classappend="${activePage == 'about-us'} ? active">
            <a class="nav-link" href="#">О нас</a>
          </li>
        </ul>

        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item" th:classappend="${activePage == 'profile'} ? active">
            <a class="nav-link font-weight-bold" sec:authorize="isAuthenticated()" th:href="@{/profile}">
              <img th:src="@{/profile/avatar}" alt="User profile" width="15">
              Профиль
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link font-weight-bold" sec:authorize="!isAuthenticated()" th:href="@{/login}">Вход</a>
            <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}">
              <button class="btn success">
                Logout <span sec:authentication="principal.username">Username</span>
              </button>
            </form>
          </li>
        </ul>

      </div>
    </nav>
  </header>
</html>