<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="container mt-3" th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-4" th:href="@{/course}">Тета Курсы</a>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNav" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">

      <ul class="navbar-nav col-8">
        <li class="nav-item" th:classappend="${activePage == 'courses'} ? active">
          <a class="nav-link" th:href="@{/course}">Курсы</a>
        </li>
        <li class="nav-item" th:classappend="${activePage == 'users'} ? active">
          <a class="nav-link" href="/admin/user"
             sec:authorize="hasAnyRole('ADMIN', 'OWNER', 'TUTOR')">Пользователи</a>
        </li>
        <li class="nav-item" th:classappend="${activePage == 'contacts'} ? active">
          <a class="nav-link" href="#">Контакты</a>
        </li>
        <li class="nav-item" th:classappend="${activePage == 'about-us'} ? active">
          <a class="nav-link" href="#">О нас</a>
        </li>
      </ul>
      <ul class="navbar-nav col-1 justify-content-end mr-2">
        <div class="dropdown show" sec:authorize="hasAnyRole('OWNER', 'ADMIN', 'TUTOR')">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown" id="dropdownMenuButton" type="button">
            Меню
          </button>
          <ul aria-labelledby="dropdownMenuLink" class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/admin/user/course}">Курсы</a></li>
            <li><a class="dropdown-item" th:href="@{/admin/user}">Пользователи</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" th:href="@{/course/new}">Создать курс</a></li>
            <li><a class="dropdown-item" th:href="@{/user/registration}">Создать пользователя</a>
            </li>
          </ul>
        </div>
      </ul>
      <ul class="navbar-nav col-2 justify-content-end">
        <li class="nav-item" th:classappend="${activePage == 'profile'} ? active">
          <a class="nav-link font-weight-bold" sec:authorize="isAuthenticated()"
             th:href="@{/profile}">
            <img alt="User profile" th:src="@{/profile/avatar}" width="15">
            Личный кабинет
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link font-weight-bold" sec:authorize="!isAuthenticated()"
             th:href="@{/login}">Вход</a>
          <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
            <button class="btn success">
              Logout <span sec:authentication="principal.username">Username</span>
            </button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="alert alert-warning" role="alert" sec:authorize="isAuthenticated()"
       th:if="${isEnabled == false}">
    Аккаунт не активирован!
  </div>
</header>
</html>
