<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>

  <main class="container mt-3 pb-5">
    <div class="col-12 col-lg-8 offset-2 offset-lg-12">
      <div class="text-center mt-5 b-1">
        <h1 class="h1 mb-3 font-weight-normal">Assign course to the user</h1>
      </div>
      <form class="form-signin pt-5" th:method="post" th:action="@{/course/{courseId}/assign(courseId = ${courseId})}"
            th:unless="${users.empty}">

        <div class="mt-5 form-label-group">
          <label class="mb-2" for="userId">Select user:</label>
          <select class="custom-select mr-sm-2" id="userId" name="userId">
            <option th:each="user : ${users}"
                    th:value="${user.id}"
                    th:text="${user.username}">
              User name
            </option>
          </select>
        </div>

        <div class="form-group mt-2">
          <input type="submit" class="btn btn-success float-right" value="Assign">
        </div>
      </form>
      <div class="text-center mt-5 b-1" th:if="${users.empty}">
        <p>All available users for this course have already been assigned!</p>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
