<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head"></head>

<body>
  <header th:replace="fragments/header :: header"></header>

  <main class="container mt-3 pb-5">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h1 class="h1 mb-3 font-weight-normal text-center">Просмотр и редактирование курса</h1>
              <img class="mx-auto d-block" th:src="@{/course/{id}/picture(id = ${course.id})}" width="80" height="80" alt="">

              <form sec:authorize="hasRole('ADMIN')" th:object="${course}" th:method="post" th:action="@{/course/{id}/picture(id = ${course.id})}" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-12">
                    <label class="mb-2 text-dark" for="courseImage">Выберите обложку курса</label>
                    <div class="input-group pb-2">
                      <input id="courseImage" name="courseImage" type="file"/>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-success" value="Обновить">
                </div>
              </form>
              <form th:object="${course}" th:method="post" th:action="@{/course}">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="title">Title</label>
                      <input class="form-control" type="text" value="Title" id="title"
                             th:field="*{title}" autofocus>
                      <small class="validation-error text-danger" th:if="${#fields.hasErrors('title')}"
                             th:errors="*{title}">
                        Course title has to be filled
                      </small>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="author">Author</label>
                      <input class="form-control" type="text" value="Author" id="author"
                             th:field="*{author}">
                      <small class="validation-error text-danger" th:if="${#fields.hasErrors('author')}"
                             th:errors="*{author}">
                        Course author has to be filled
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input sec:authorize="hasRole('ADMIN')" type="submit" class="btn btn-success" value="Сохранить">
                </div>
              </form>
<!----------------------------------------Module -------------------------------------------------------------------->
              <section class="mt-5 pt-3" th:unless="${lessons == null}">
                <div>
                  <a sec:authorize="hasRole('ADMIN')" th:href="@{/module/new(course_id = ${course.id})}">Добавить новый модуль</a>
                </div>
                <table class="table table-striped table-success">
                  <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Действие</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:unless="${modules.empty}" th:each="module : ${modules}">
                    <th scope="row" th:text="${module.id}">1</th>
                    <td>
                      <a th:text="${module.title}" th:href="@{/module/{id}(id = ${module.id})}">module name</a>
                    </td>
                    <td>
                      <div class="form-group col-2 col-md-10 pl-0">
                        <form th:method="delete" th:action="@{/module/{id}(id = ${module.id})}">
                          <input type="hidden" name="courseId" id="courseId" th:value="${course.id}">
                          <button sec:authorize="hasRole('ADMIN')" class="btn btn-danger" type="submit">Удалить</button>
                        </form>
                      </div>
                    </td>
                  </tr>
                  <tr th:if="${modules.empty}">
                    <td colspan="3">No module in this course</td>
                  </tr>
                  </tbody>
                </table>
              </section>




<!----------------------------------------------------lesson--------------------------------------------------------->
                <section class="mt-5 pt-3" th:unless="${lessons == null}">
                  <div>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/lesson/new(course_id = ${course.id})}">Добавить новый урок</a>
                  </div>
                  <table class="table table-striped table-success">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Действие</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:unless="${lessons.empty}" th:each="lesson : ${lessons}">
                        <th scope="row" th:text="${lesson.id}">1</th>
                        <td>
                          <a th:text="${lesson.title}" th:href="@{/lesson/{id}(id = ${lesson.id})}">Lesson name</a>
                        </td>
                        <td>
                          <div class="form-group col-2 col-md-10 pl-0">
                            <form th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                              <input type="hidden" name="courseId" id="courseId" th:value="${course.id}">
                              <button sec:authorize="hasRole('ADMIN')" class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <tr th:if="${lessons.empty}">
                        <td colspan="3">No lessons in this course</td>
                      </tr>
                    </tbody>
                  </table>
                </section>


                <section class="mt-5 pt-3" th:unless="${users == null}">
                  <p>Пользователи связанные с курсом</p>
                  <table class="table table-striped table-success">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Действие</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:unless="${users.empty}" th:each="user : ${users}">
                        <th scope="row" th:text="${user.id}">1</th>
                        <td th:text="${user.username}">Имя пользователя</td>
                        <td>
                          <div class="form-group col-2 col-md-10 pl-0">
                            <form th:method="delete" th:action="@{/course/{courseId}/unassign(courseId = ${course.id})}">
                              <input type="hidden" name="userId" id="userId" th:value="${user.id}">
                              <button class="btn btn-warning" type="submit">Снять с курса</button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <tr th:if="${users.empty}">
                        <td colspan="3">No assigned users for this course</td>
                      </tr>
                    </tbody>
                  </table>
                </section>

              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
