<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>
  <header th:replace="fragments/header :: header"></header>
  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Courses</strong></h1>
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-lg-3 offset-md-2">
          <form class="form-inline mb-3" enctype="multipart/form-data">
            <label for="titlePrefix">Search courses by title</label>
            <div class="form-group col-8 col-md-10 pl-0">
              <input class="form-control w-100" type="search" id="titlePrefix" name="titlePrefix" th:value="${param.titlePrefix}"
                     placeholder="Course title" aria-label="Find course">
            </div>
            <div class="form-group col-4 col-md-2 pl-0">
              <button class="btn btn-success w-100" type="submit">Find!</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section>
      <div class="text-center">
        <a class="btn btn-primary" sec:authorize="!isAuthenticated()" th:href="@{/user/registration}">New User registration</a>
      </div>
    </section>

    <section class="mt-3 pt-3" >
      <h2 class="h2 font-weight-normal text-center mb-5">Current courses</h2>

        <div th:unless="${courses.empty}" th:each="course : ${courses}">
          <div class="container mt-3">
            <div class="row">
              <div class="col-10">
                <div class="card pt-4 text-center mb-4">

                  <img class="mx-auto d-block" th:src="@{/course/{id}/picture(id = ${course.id})}" width="80" height="80" alt="">
                  <div class="card-body">
                    <p class="card-text mb-2">
                      <a th:text="${course.title}" th:href="@{/course/{id}(id = ${course.id})}">Course title</a>
                    </p>
                    <p class="card-text" th:text="${course.author}">Start your frontend journey</p>
                    <div class="row">
<!--                      <div class="col-6 previous">-->
<!--                        <p>Rating: </p>-->
<!--                        <p class="card-text" th:text="${course.avgRating}">Рейтинг</p>-->
<!--                      </div>-->
                      <div class="col-6 next">
                        <p>Date: </p>
                        <p class="card-text" th:text="${course.createdAt}">Date of creation</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2 justify-content-center">
                <form sec:authorize="isAuthenticated()" th:method="get" th:action="@{/course/{id}(id = ${course.id})}">
                  <button class="btn btn-success" type="submit">Enroll to the course</button>
                </form>
                <p sec:authorize="!isAuthenticated()">Register or Login and enroll!</p>
              </div>
            </div>
          </div>
        </div>
        <div th:if="${courses.empty}">
          <p>No courses to display</p>
        </div>

      <div th:if="${totalPages > 1}">
        <div class="row-sm-10">
          <div class="col-sm-2">
            Total courses: [[${totalItems}]]
          </div>
          <div class="col-sm-2">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						  <a th:if="${currentPage != i}" th:href="@{'/course/page/' + ${i}}">[[${i}]]</a>
						  <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>
</html>
