<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head"></head>

<body>
  <header th:replace="fragments/header :: header"></header>

  <main class="container mt-3 pb-5">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h1 class="h1 mb-3 font-weight-normal text-center">Добавление и удаление урока</h1>

<!----------------------------------------------------lesson--------------------------------------------------------->
              <section class="mt-5 pt-3" th:unless="${lessons == null}">
                  <div>
                    <a sec:authorize="hasRole('ADMIN')"  th:href="@{/lesson/new(module_id = ${moduleDto.id})}">Добавить новый урок</a>
                  </div>
                  <table class="table table-striped table-success">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Название</th>
                        <th scope="col">Действие</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:unless="${lessons.empty}" th:each="lesson : ${lessons}">
                        <th scope="row" th:text="${lesson.id}">1</th>
                        <td>
                          <a th:text="${lesson.title}" th:href="@{/lesson/{id}(id = ${lesson.id})}">Lesson name</a>
                        </td>
                        <td>
                          <div class="form-group col-2 col-md-10 pl-0">
                            <form th:method="delete" th:action="@{/lesson/{id}(id = ${lesson.id})}">
                              <input type="hidden" name="courseId" id="courseId" th:value="${course.id}">
                              <button sec:authorize="hasRole('ADMIN')" class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <tr th:if="${lessons.empty}">
                        <td colspan="3">No lessons in this course</td>
                      </tr>
                    </tbody>
                  </table>
                </section>

                <section class="mt-5 pt-3" th:unless="${users == null}">
                  <p>Пользователи связанные с курсом</p>
                  <table class="table table-striped table-success">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Имя пользователя</th>
                        <th scope="col">Действие</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:unless="${users.empty}" th:each="user : ${users}">
                        <th scope="row" th:text="${user.id}">1</th>
                        <td th:text="${user.username}">Имя пользователя</td>
                        <td>
                          <div class="form-group col-2 col-md-10 pl-0">
                            <form th:method="delete" th:action="@{/course/{courseId}/unassign(courseId = ${course.id})}">
                              <input type="hidden" name="userId" id="userId" th:value="${user.id}">
                              <button class="btn btn-warning" type="submit">Снять с курса</button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <tr th:if="${users.empty}">
                        <td colspan="3">No assigned users for this course</td>
                      </tr>
                    </tbody>
                  </table>
                </section>

              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
