<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>

  <main class="container mt-3 pb-5">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h1 class="h1 mb-3 font-weight-normal text-center">Create or Edit a Module</h1>

              <form th:object="${moduleDto}" method="post" th:action="@{/module}">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{courseId}">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="moduleTitle">Title</label>
                      <input class="form-control" type="text" value="Title" id="moduleTitle"
                             th:field="*{title}" autofocus>
                      <small class="validation-error text-danger" th:if="${#fields.hasErrors('title')}"
                             th:errors="*{title}">
                        Module title has to be filled
                      </small>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="moduleContent">Module description</label>
                      <textarea class="form-control" rows="20" id="moduleContent" th:field="*{content}">Module's description should be here.
                      </textarea>
                      <small class="validation-error text-danger" th:if="${#fields.hasErrors('content')}"
                             th:errors="*{content}">
                        Module title has to be filled
                      </small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-success float-right" value="Save">
                </div>

              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
