<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<header th:replace="fragments/header :: header"></header>

<body>
  <main class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-2 offset-lg-12">
        <form class="form-signin pt-5" th:object="${user}" th:method="post" th:action="@{/admin/user}">
          <input type="hidden" th:field="*{id}">

          <div class="text-center mt-5 b-1">

            <h1 class="h3 mb-3 font-weight-normal">User Info</h1>

          </div>
          <div class="mt-5 form-label-group">
            <p class="text">Username</p>
            <input type="text" id="username" class="form-control" th:field="*{username}">
            <label for="username"></label>
            <small class="validation-error text-danger" th:if="${#fields.hasErrors('username')}"
                   th:errors="*{username}">
              Username has to be filled
            </small>
          </div>

          <div class="form-label-group">
            <p class="text">Password</p>
            <input type="password" id="password" class="form-control" th:field="*{password}">
            <label for="password"></label>
            <small class="validation-error text-danger" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}">
              Password has to be filled
            </small>
          </div>

          <div sec:authorize="hasRole('ADMIN')" class="mt-5 form-label-group">
            <label class="mb-2" for="roles">Choose user's role:</label>
            <select multiple class="custom-select mr-sm-2" id="roles" th:field="*{roles}" required>
              <option th:each="role : ${roles}"
                      th:text="${role.name}"
                      th:value="${role.id}"
                      th:selected="${user.roles?.contains(role)}">
              </option>
            </select>
          </div>

          <div class="checkbox mb-3"></div>
          <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
        </form>

         <div class="mt-4 text-center"><p>Есть аккаунт? <a href="/login">Войдите!</a></p></div>

      </div>
    </div>
  </main>
</body>
</html>
