<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main class="container mt-3">

  <section>
    <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>All users</strong></h1>
    <h4 class="text-center"><a th:href="@{/admin/user/course}">Switch to All Courses</a></h4>
  </section>

  <section class="mt-2 pt-1">
    <a th:href="@{/user/registration}">Добавить нового пользователя</a>
    <table class="table table-striped table-success">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:unless="${users.empty}" th:each="user : ${users}">
        <th scope="row" th:text="${user.id}">1</th>
        <td>
          <a th:text="${user.username}" th:href="@{/admin/user/{id}(id = ${user.id})}">Username</a>
        </td>
        <td>
          <div th:each="role : ${user.roles}">
          <p th:text="${role.name}">User roles</p></div>
        </td>
        <td class="row">
            <form th:method="delete" th:action="@{/admin/user/{id}(id = ${user.id})}">
              <button class="btn btn-danger" type="submit">Delete user</button>
            </form>
        </td>
      </tr>
      <tr th:if="${users.empty}" >
        <td colspan="4">No users to display</td>
      </tr>
      </tbody>
    </table>
  </section>
</main>

</body>
</html>